<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>on3D - Main</title>

<script type="text/javascript" src="/js/jQuery/jquery-3.3.1.min.js"></script>
<script src="/js/popper/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<!-- <script src="/js/mdb/mdb.min.js"></script> -->
<script src="/js/jarallax/jarallax.js"></script>
<script src="/js/jarallax/jarallax-video.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/fontAwesome/all.js"></script>
<script type="text/javascript" src="/js/jscolor.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/fontAwesome/all.css">
<link rel="stylesheet" type="text/css" href="/css/fontAwesome/all2.css">

 