<div class="panel panel-default" style="margin-left:2%;height: 50%">
				<div class="panel-heading" style="background-color:  #095f59;">
				<h3 class="panel-title">Reporte de monitoreo</h3>
				</div>
				<br>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"/><div></div></span>Temperatura 1:</h2>
							 <h4>motor eje X</h4>
						</div>
					</div>
					</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>Temperatura 2: </h2>
							<h4>motor eje Y</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>Temperatura 3: </h2>
							<h4>motor eje Z_1</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>Temperatura 4: </h2>
							<h4>motor eje Z_2</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>Temperatura 5: </h2>
							<h4>Cama caliente</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>Temperatura 6: </h2>
							<h4>Extrusor 1</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span> Potencia suministrada </h2>
							<h4>Potencia aparente (s)</h4>
						</div>
					</div>
				</a>
				<a href="/mostrarTemperatura">
					<div class="col-md-3">
						<div class="well dash-box">
							<h2><img src="/icons/supervision.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span> Horas de trabajo </h2>
							<h4>tiempo activo (hh:mm:ss)</h4>
						</div>
					</div>
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>					
					</div>
				</a>	
			</div>