body
{
  	padding:0px !important;
  	margin:0px !important;
  	max-width: 300%;
  	max-height: 300%; 
  	min-height: 100%;
  	min-width: 100%;
  	background-color: cyan;
}

.view
{
	height: 550px;
}

div {
    display: block;
}
 

