<!-- views/pages/cotizadorEnLinea.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="../css/3DObjectViewer.css">
    <script type="text/javascript">
    	var filament_cost = parseFloat("35000");
		var diaLaboralCost = parseFloat("<%- diaLaboralCost %>");
		var MantenimientoPorImpresion = parseFloat("<%- MantenimientoPorImpresion %>");
		var costoLocalArriendo = parseFloat("<%- costoLocalArriendo %>");
		var costoInternoPorIntentos = parseFloat("<%- costoInternoPorIntentos %>"); //Seguro por fallas de la maquina
    </script>
</head>
	<body>
		<header>
		    <% include ../partials/header %>
		    <link rel="stylesheet" type="text/css" href="../css/cotizador.css">
		    <script type="text/javascript" src="../js/cotizador.js"></script>
		</header>
		<br/><br/><br/>
		<div class="content">
			<form class="" action="/subirSTL" id="uplForm" method="post" enctype="multipart/form-data">
			<div id="container"></div>
			<div id="container2" style="margin-top:5%">
				<div class="hideClient">
					<span id="densityLabel"></span>:&nbsp;
					<input name="densidad" id="densityValue"></input>&nbsp;g/cc&nbsp;
					<input type="submxit" class="buttonChanger" onclick="moreDensity(true);" value="+"/>
					&nbsp;
					<input type="submit" class="buttonChanger" onclick="moreDensity(false);" value="-"/>
					<br/>
					<span id="weightLabel"></span>:&nbsp;<input name="peso" id="weightValue"></input>&nbsp;g<br />
					<span id="volumeLabel"></span>:&nbsp;<input name="volume" id="volumeValue"></input>&nbsp;cm3<br/>
				</div>
				<span id="sizeLabel"></span>:&nbsp;<input name="ancho" id="widthValue"></input>&nbsp;x&nbsp;
				<input id="heightValue" name="alto"></input>&nbsp;x&nbsp;<input name="largo" id="depthValue"></input>&nbsp;cm<br />
				<div class="hideClient">
					<hr class="separator"/>
					<span id="costKilogramLabel"></span>:&nbsp;$<input name="costoKilogramo" id="costKilogramValue"></input>&nbsp;<input type="submit" class="buttonChanger" onclick="moreCost(true);" value="+"/>&nbsp;<input type="submit" class="buttonChanger" onclick="moreCost(false);" value="-"/><br />
					<span id="costFilaLabel"></span>:&nbsp;$<input name="costoFilamento" id="costValue1"></input><br />
					<span id="costTiempoLabel"></span>:&nbsp;$<input name="costoTiempo" id="costValue2"></input><br />
					<span id="costMachLabel"></span>:&nbsp;$<input name="costoMaquina" id="costValue3"></input><br />
					<span id="costLocalLabel"></span>:&nbsp;$<input name="costoLocal" id="costValue4"></input><br />				
					<span id="costoSeguro"></span>:&nbsp;$<input name="costoSeguro" id="costValue6"></input><br />	
				</div>			
				<span id="costGeneralLabel"></span>:&nbsp;$<input class="inputPrice" name="costoGeneral" id="costValue5"></input><br />
				<div class="hideClient">
					<hr class="separator"/>
					<span id="diameterLabel"></span>:&nbsp;<span id="diameterValue"></span>&nbsp;cm&nbsp;<input type="submit" class="buttonChanger" onclick="moreDiameter(true);" value="+"/>&nbsp;<input type="submit" class="buttonChanger" onclick="moreDiameter(false);" value="-"/><br />
					<span id="speedLabel"></span>:&nbsp;<span id="speedValue"></span>&nbsp;cm/s&nbsp;<input type="submit" class="buttonChanger" onclick="moreSpeed(true);" value="+"/>&nbsp;<input type="submit" class="buttonChanger" onclick="moreSpeed(false);" value="-"/><br />
					<span id="lengthLabel"></span>:&nbsp;<span id="lengthValue"></span>&nbsp;cm<br />
					<span id="timeLabel"></span>:&nbsp;<span id="hoursValue"></span>&nbsp;<span id="hoursLabel"></span>&nbsp;<span id="minutesValue"></span>&nbsp;<span id="minutesLabel"></span><br />		
				</div>
			</div>
			<div class="container3 container">
				<div class="leftitem">
					<h2>1. Carga el archivo .STL</h2>
					<input class="form-control" type="file" id="modelOBJ" name="archivoupload" onChange="runViewer();">
				</div>
				<div>
					<h2>2. Imprime la cotizacion.</h2>
					<button type="submit" id="btnSubmit" class="btn btn-info btnprogress"> Imprimir cotizacion  </button>
			</div>
		</div>
			</form>
		</div>
	<footer>
	    <% include ../partials/footer %>
		<a href="https://github.com/lrusso/3DObjectViewer"><div class="rightitem" id="about"></div></a>
	</footer>

		 <script src="../js/3DObjectViewer.js"></script>
	</body>
</html>