<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../css/cotizador.css">
    <script type="text/javascript" src="../js/cotizador.js"></script>
</header>
</br></br>
<div>   
<div id="fullscreen_bg" class="fullscreen_bg"/>
<div class="container well" style="color:white">
   <form class="form-signin" action="/subirSTL" id="uplForm" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="form-signin-heading text-muted" for="usr">Nombre del archivo</label>
      <input type="text" class="form" id="filename">
    </div>
    <div class="form-group">
      <label class="form-signin-heading text-muted" for="pwd">Correo electronico</label>
      <input type="text" class="form" id="email">
    </div>
    <div class="form-group">
      <label class="form-signin-heading text-muted" style="color:white" >Archivo (.stl)</label>
      <input type="file" class="form" id="file" name="archivoupload">
    </div>
    <div class="form">
        <span>Al subir el archivo estas aceptando nuestros <a href="/legal">  terminos y condiciones</a></span>
    </div>
    <div class="pull-right" style="text-align: center">
         <button type="button" class="btn btn-secondary"  data-backdrop="static" data-keyboard="false" data-target="#myModal" onclick="comprueba_extension(this.form, this.form.archivoupload.value)">Iniciar subida</button>
    </div>
    
  </form>
</div>

<!-- Modal -->
  <div class="form-signin modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">          
          <h4 class="modal-title">Subida iniciada.</h4>
        </div>
        <div class="modal-body">
          <p>Tu archivo se esta subiendo, por favor espera hasta que se suba completamente.</p>
          
          <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100" style="width:70%">
            <span class="sr-only">30% Completo</span>
          </div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info btnprogress" onclick="clickProgress()">         
            Continue
          </button>
        </div>
      </div>
      
    </div>
  </div>



</div>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>