<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/js/chkValidadorOneSelected.js"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</header>
</br></br>

 <div class="main" style="padding:2%;margin-top:5%;">        	
 <div class="col-lg-12">
         <div class="container">          	 
               <div class="col-lg-4"></div>
				 <div class="col-lg-4">
				 <div class="row grids text-center">
					<div class="view view-tenth">
					    <!--  <a href="single.html">-->
						   <div class="inner_content clearfix">
					<div class="product_image">
						<img src="../img/user@2x.png" class="img-responsive" alt="" style="margin:0% auto;"/>
                     </div>
					<div class="label-product">
						<span class="new">Registro o inicio de sesion</span> 
					</div>
					<div class="mask" style="width:100% !important;">
						<h2>Bienvenido usuario</h2>
                        <div class="main">
							<form method="POST" action="/iniciarSesion">
							<input type="text" class="text" name="email" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Correo electronico';}" >
							<input type="password" name="contrasena" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'contraseña';}">
							<div class="radio">
							  <label class="radio-inline"><input type="radio" id="chkLogin1"checked onclick="chk1Click()" name="chk1">Iniciar Sesion</label>
							  <label class="radio-inline"><input type="radio" id="chkLogin2" onclick="chk2Click()" name="chk2">Registrarse</label>
							</div>
							<div class="submit"><input type="submit" onclick="myFunction()" value="iniciar sesion" ></div>
							<div class="clearfix"></div>
							</form>
						</div>
					</div>
							
			        </div>
					</div>
			        </div>
				    <!--  </a> -->
				</div>
		</div>
		<div class="col-lg-4"></div>
        </div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>