<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</header>
</br></br>
<div>	
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

	<form class="form-signin">
		<h1 class="form-signin-heading text-muted">Iniciar sesion</h1>
		<input type="text" class="form-control" placeholder="Direccion de correo electronico" required="" autofocus="">
		<input type="password" class="form-control" placeholder="contraseña" required="">
		<button class="btn btn-lg btn-secondary btn-block" type="submit">
			Iniciar Sesion
		</button>
	</form>

</div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>