<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootsMain.css">
	<link rel="stylesheet" type="text/css" href="../css/paginaPrincipal.css">
	<title>Imprimir cotizacion</title>
<head>
	<% include ../partials/head %>
</head>
<header>
	<% include ../partials/header %>
</header>
<script type="text/javascript" src="../js/paginaPrincipal.js"></script>
<style type="text/css">
	.clientHide{
		display:none;
	}
</style>
</head>
<body>
<br><br><br><br>
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<% include ../partials/menuAdmin %>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
				<div class="panel-heading" style="background-color:  #095f59;">
				<h3 class="panel-title">Agregar impresora</h3>
				</div>
					<div style="margin:2%;padding: 1%;">
						<div>
							<br>
							<div><label>Nombre de la impresora:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label> <input type="text" name="printerName"/></div>
							<div><label>Tamaño de la cama caliente (ej. 20x20x10):&nbsp&nbsp</label><input type="text" name="tamanoImpresora"/></div>
							<div class="radio">
								<label>Tipos de material que se pueden imprimir: &nbsp&nbsp&nbsp&nbsp</label>
								  <label class="radio-inline"><input type="radio" id="PLA" checked name="chk1">PLA</label>
								  <label class="radio-inline"><input type="radio" id="ABS" name="chk1">ABS</label>
								  <label class="radio-inline"><input type="radio" id="Flexible" name="chk1">Flexible</label>
							</div>
							<button type="submit" class="btn btn-success">Agregar nuevo filamento</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default" style="margin-left:2%;height: 50%">
				<div class="panel-heading" style="background-color:  #095f59;">
				<h3 class="panel-title">Impresoras registradas</h3>
				</div>
				<br>
				<div class="col-md-3">
					<div class="well dash-box">
						<h2><img src="/icons/printer.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"/><div></div></span>&nbsp&nbsp Printmate3D </h2>
						 <h4>Prusa</h4>
					</div>
				</div>
				<div class="col-md-3">
					<div class="well dash-box">
						<h2><img src="/icons/printer.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>&nbsp&nbsp Delta </h2>
						<h4>Kossel</h4>
					</div>
				</div>
				<div class="col-md-3">
					<div class="well dash-box">
						<h2><img src="/icons/printer.ico" style="width: 80px;height: 80px;"/><div></div><span class="" aria-hidden="true"></span>&nbsp&nbsp Davinci 3D</h2>
						<h4>1.0</h4>
					</div>
				</div>	

				</div>	
			</div>
		</div>
	</div>
</section>

<footer>
<% include ../partials/footer %>
</footer>
</body>
</html>
</html>