<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/js/chkValidadorOneSelected.js"></script>
</head>
<body class="" style="background-image:none">

<header>
    <% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</header>
</br></br>

<div class="container" style="width:100%;height: 100%">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Envio exitoso de la cotizacion</h2>
        <h3>Estimado cliente</h3>
        <p style="font-size:20px;color:#5C5C5C;">Muchas gracias por cotizar tu impresion en ON3D, revisa tu correo electronico.</p>
        <a href="mailto:onmotica@gmail.com" class="btn btn-success">     Tienes problemas?. Envianos los detalles via e-mail.     </a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        
	</div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>