<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootsMain.css">
	<link rel="stylesheet" type="text/css" href="../css/paginaPrincipal.css">
	<title>Imprimir cotizacion</title>
	<head>
    	<% include ../partials/head %>
	</head>
	<header>
	    <% include ../partials/header %>
	</header>
	<script type="text/javascript" src="../js/paginaPrincipal.js"></script>
	<style type="text/css">
		.clientHide{
			display:none;
		}
	</style>
</head>
<body>
	<br><br><br><br>
	<section id="main">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3">
	        <% include ../partials/menuAdmin %>
	      </div>
	      <div class="col-md-9">
	          <div class="panel panel-default">
	  <div class="panel-heading" style="background-color:  #095f59;">
	    <h3 class="panel-title">Panel principal</h3>
	  </div>
	  <a href="reporteImpresion">
		  <div class="panel-body">
		   <div class="col-md-3">
		     <div class="well dash-box">
		       <h2><img src="/icons/3dIcon.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"></span> 21.07.18 </h2>
		       <h4>pieza2.stl</h4>
		     </div>
		   </div>
	   </a>
	   <a href="reporteImpresion">
		   <div class="col-md-3">
		     <div class="well dash-box">
		       <h2><img src="/icons/3dIcon.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"></span>22.07.18 </h2>
		       <h4>piezaFinal.stl  </h4>
		     </div>
		   </div>
		 </a>
		 <a href="reporteImpresion">  
		   <div class="col-md-3">
		     <div class="well dash-box">
		       <h2><img src="/icons/3dIcon.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"></span>23.07.18</h2>
		       <h4>test.stl</h4>
		     </div>
		   </div>
		  </a> 
		 <a href="reporteImpresion">  
		   <div class="col-md-3">
		     <div class="well dash-box">
		       <h2><img src="/icons/3dIcon.ico" style="width: 80px;height: 80px;"><span class="" aria-hidden="true"></span>24.07.18 </h2>
		       <h4>TestFinal.stl</h4>
		     </div>
		   </div>
		  </a>
		  </div>
	</div>
	<!--Latest User-->
	
	      </div>
	    </div>
	  </div>
	</section>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
</html>